{% extends "base.htm.j2" %}
{% block title %}Your comment has been successfully submitted{% endblock %}

{% block content %}
  <h2>Success</h2>
  <p>Our admin has been notified and will get in touch with you if they have any questions regarding your comments/uploads!</p>
{% endblock %}
